body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f1cb84;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.form-group {
  margin-bottom: 40px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  display: inline-block;
  width: 30%;
  padding: 10px;
  background-color: #42B72A;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.headline {
  font-size: 36px;
  margin-bottom: 20px;
}

.subheadline {
  font-size: 24px;
  margin-bottom: 40px;
}

h1 {
  color: #42B72A;
}

p {
  text-align: justify;
}

.footer {
  margin-top: 0;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
  

@media only screen and (max-width: 768px) {
  .headline {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .subheadline {
    font-size: 18px;
    margin-bottom: 20px;
  }

  p {
    text-align: justify;
    font-size: 20px;
  }
}